@inject IDomainService domainService

<h3>GetDomain:: Retornar dados do Domain</h3>
<br />

<EditForm Model="model">
    <InputText @ref="inputText" class="form-control-sm" @bind-Value="model" />
</EditForm>
<br />
@*<input type="text" class="form-control-sm" @bind="inputText"/>*@
<button class="btn btn-success" @onclick="HandlerClick">
    <i class="fa fa-search"></i> Buscar
</button>
<br />
@if (mensagem != "")
{

    <Alert Mensagem="@mensagem"></Alert>
    mensagem = "";

}


@code {
    string mensagem = "";
    string model = "";
    InputText inputText;
    public ViewModelDomain domain { get; set; } = null;

    private async void HandlerClick()
    {
        if (inputText.Value != "")
        {
            domain = await domainService.GetDomain(inputText.Value.ToString());
        }
        else
        {
            mensagem = "O campo não ser vazio";
        }
    }
}

<br />
<table class="table">
    <thead>
        <tr>
            <th>Name servers</th>
            <th>IP do registro A</th>
            <th>Empresa que está hospedado</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            @if (domain != null)
            {
                <td>@domain.Name</td>
                <td>@domain.Ip</td>
                <td>@domain.HostedAt</td>
            }
            else
            {
                <td>
                    Buscar dados do Domain
                </td>
            }
        </tr>
    </tbody>
</table>